h2{
    color: green;
}

p{
    color: fuchsia;
    background-color: black;
}
h2{
    color: green;
}

p{
    color: fuchsia;
    background-color: black;
}
h2{
    color: green;
}

p{
    color: fuchsia;
    background-color: black;
}

