input ,textarea ,select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type=text] {
    height: 30px;
}

input[type=email] {
    height: 30px;
}

textarea {
    height: 100px;
}

select {
    height: 40px;
}

input:focus, textarea:focus, select:focus {
    background-color: #f0f8ff;
    border-color: #ff0000;
}