.titulo{
    color: red;
}

.parrafo{
    background-color: black;
}

#titulo-principal{
    font-size: 20px;
}

p{
    color: grey;
}
.titulo{
    color: red;
}

.parrafo{
    background-color: black;
}

#titulo-principal{
    font-size: 20px;
}

p{
    color: grey;
}
.parrafo{
    background-color: black;
}

#titulo-principal{
    font-size: 20px;
}

p{
    color: grey;
}
.titulo{
    color: red;
}

.parrafo{
    background-color: black;
}

#titulo-principal{
    font-size: 20px;
}

p{
    color: grey;
}